@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  @apply text-sm bg-white text-gray-900;
  @apply dark:bg-black dark:text-white;
}